<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>		
		<script type="text/javascript" src="/js/client.js"></script>
	</head>
	<body>		
		<div id="users"></div>
		<div id="messages"></div>
		<div id="form">
			<input id="message" />
		</div>		
		<form id="loginForm">
			<fieldset>
				<legend>Login</legend>
				<label>Votre pseudo</label>
				<input id="pseudo" type="text" /><br>
				<input type="submit" class="btn" value="Se connecter" />
			</fieldset>
		</form>
	</body>
</html>